<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<br/>
		<form action="/user/salvar" method='post'>
			<label>Título</label>
            <input type="text" id='name' name='name' placeholder="Nome do usuário"/>
            <input type="submit" value="enviar"/>			
		</form>

	</body>
</html>